:root {
    --large: (5vw);

    --base-padding: (20px);


}

body {
    margin: 0;
    background: url(media/background.webp) no-repeat center center fixed;
    background-size: cover;
    color: white;
    height: 100vh;
    font-family: 'Roboto', sans-serif;}

/* opacity background */

body>div {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 50px 30px;
    border-radius: 20px;
    padding: 2px 30px;
}

/* header */

header>h1:first-child {
    font-family: 'Bungee Hairline', cursive;
    font-size: calc(1.1 * var(--large));
    margin-top: 5px;
}

/* navigation */

nav {
    padding: 10px;
    display: flex;
    margin: 50px 0px;
    gap: 5px;
}

nav>div {
    display: inline;
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    border-radius: 10px;
    flex-grow: 1;
    text-align: center;
    font-size: calc(0.34 * var(--large));
}

nav> :nth-child(2) {
    font-weight: bold;
    border: 2px solid white;
    box-shadow: white;
}

main {
    margin: 0;
}

/* two sections */

article.best {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 20px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    ;
    margin-bottom: 20px;
}

/* Album */

.album_data {
    grid-area: album;
}

.album_data>div>h1 {
    font-family: 'Bungee Hairline', cursive;
    font-size: calc(0.8 * var(--large));
    margin: 0;
    padding: 0;
}

.album_data>div>h2 {
    font-size: calc(0.4 * var(--large));

}

.album_data div:nth-child(2) {
    margin-top: 60px;
}

.album_data :nth-child(2)>p {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.9);

}

.album_data :nth-child(2)>ul {
    margin: 0 20px;
    padding: 0 auto;
    color: rgba(255, 255, 255, 0.9);
}

.album_data>ul {
    list-style: none;


}

.album_data>ul>li {
    list-style: none;
    font-size: calc(0.3 * var(--large));

}

.album_data> :nth-child(2)>ul {
    list-style: none;
}

.album_description {
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.3;
    padding-right: 20px;
}

/* cover sections */

.cover {
    background-color: #171717;
    padding: 5px;
    min-width: 30%;
    border-radius: 20px 20px 0 0;
    grid-area: cover;
    position: relative;
    overflow: hidden;
}

.song_list {
    margin-top: 10px;
    grid-area: song;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    gap: 15px;
}

.song_list>div {
    background-color: #171717;
    color: #6595E0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 10px;
}

.song_list>div>h2 {
    font-size: calc(0.45 * var(--large));

}

.song_list>div>ul {
    margin-top: -10px;
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: decimal;
    font-size: calc(0.3 * var(--large));

}

.song_list div:nth-child(1) {
    border-radius: 0 0 0 20px;
}

.song_list div:nth-child(2) {
    border-radius: 0 0 20px 0;
}

h2 {
    padding: 0;
    margin: 10px 0px;
}

/* Image */

.show_not_hover {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;

}

.show_hover {
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 20px 20px 0 0;
    transition: opacity 1s;
    position: absolute;
}

/* grid on article */

article {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "album album album album cover cover"
        ". . . . song song"
        "menu menu menu menu menu menu";
}

/* bottom groups */

.anecdotes {
    grid-area: menu;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: stretch;
    justify-content: stretch;
    grid-column: 1 / 7;
    gap: 5px;
    min-height: 200px;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: calc(0.35 * var(--large));


}

.anecdotes>li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.empty {
    display: none;
    height: 0;
    visibility: hidden;
}



#are_you_experienced>ul>.top_right_90 {
    background-color: #122B47;
    padding: 20px;
    border-radius: 20px 0 20px 20px;
    grid-column: 1;
    display: flex;
    align-items: center;

}

#are_you_experienced>ul>.bottom_left_90 {
    background-color: #122B47;
    padding: 20px;
    border-radius: 20px 20px 20px 0;
    grid-column: 3 / 5;
    display: flex;
    align-items: center;


}

#are_you_experienced>ul>.top_left_90 {
    background-image: url(media/bw.webp);
    background-position: center;
    border-radius: 0 20px 20px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 5;
    grid-row: 1;
    padding: 10px;

    display: flex;
    align-items: flex-end;
    color: white;


}

#are_you_experienced>ul>.bottom_right_90 {
    background-color: #122B47;
    padding: 20px;
    border-radius: 20px 0 20px 20px;
    align-self: center;
    grid-column: 6;
    grid-row: 1;
    align-self: stretch;

    display: flex;
    align-items: center;

}



/* article 2 bottom */


#axis_bold_as_love {
    position: relative;
}

#axis_bold_as_love>ul>.bottom_left_90 {
    background-color: #9CBAD3;
    color: black;
    padding: 20px;
    border-radius: 20px 20px 20px 0;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
}

#axis_bold_as_love>ul>li:nth-child(2) {
    background-color: #9CBAD3;
    color: black;
    padding: 20px;
    border-radius: 0 20px 20px 20px;
    grid-column: 3 / 4;
    display: flex;
    align-items: center;


}

#axis_bold_as_love>ul>li:nth-child(5) {
    background-image: url(media/down.webp);
    background-position: center;
    background-size: cover;
    border-radius: 0 20px 20px 20px;
    background-repeat: no-repeat;
    grid-column: 4 / 6;
    grid-row: 1;
    padding: 10px;

    display: flex;
    align-items: flex-end;
    color: white;

}

#axis_bold_as_love>ul>li:nth-child(6) {
    background-color: #9CBAD3;
    color: black;
    padding: 20px;
    border-radius: 20px 20px 0 20px;
    grid-column: 6 / 7;
    grid-row: 1;
    display: flex;
    align-items: center;


}


#axis_bold_as_love>.anecdotes {
    margin-bottom: -15px;
}

/* article 2 */





footer {
    margin-top: 100px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;

}

/* hovers */

nav>div:not(:nth-child(2)):hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.cover:hover .show_hover {

    opacity: 1;
}

.cover:hover .show_not_hover {

}


#axis_bold_as_love > div:nth-child(1) > div:nth-child(1)::before {

    margin-top: -10px;
    margin-left: -30px;

    background-image: url('media/number-1-icon.png');
    background-size: 50px 50px;
    position: absolute;
    width: 50px;
    height: 50px;
    content: "";
    top: 0;

}

/* media */

@media (max-width: 900px) and (min-width: 800px) {
    .album_data>div>h1 {
        font-size: 36.0333px;
    }

    .album_data>div>h2 {
        font-size: 18.0167px;

    }

    header>h1:first-child {
        font-size: 49.55px;
    }
    nav>div {

        font-size: 15.3167px;
    }

    .song_list>div>h2 {
        font-size: 20.2667px;
    
    }
    
    .song_list>div>ul {
        padding-left: 10px;
        font-size:13.5px;
        padding-right: 10px;
    
    }

    .anecdotes {

        font-size: 15.7667px;
    
    
    }


}


@media (min-width: 1111px) {
    .album_data>div>h1 {
        font-size: 44.4px;
    }

    .album_data>div>h2 {
        font-size: 22.2px;

    }

    header>h1:first-child {
        font-size: 66.65px;
    }
    nav>div {

        font-size: 18.8667px;
    }

    .song_list>div>h2 {
        font-size: 24.9667px;
    
    }
    
    .song_list>div>ul {

        font-size:16.65px;
    
    }

    .anecdotes {

        font-size: 19.4167px;
    
    
    }

}

/* Tablet mode */

@media (max-width: 800px) and (min-width: 500px) {

    body {
        margin: 0;
        background: url(media/background_tablet.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    .cover {
        grid-column: 1 / 4;
        margin-right: 10px;
        border-radius: 20px 0 0 20px;
    }

    .song_list {
        grid-column: 4 / 7;
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        margin-right: 20px;
        margin-top: 0;
    }

    .song_list div:nth-child(1) {
        border-radius: 0 20px 0 0;
        justify-content: center;

    }

    .song_list div:nth-child(2) {
        border-radius: 0 0 20px 0;
        justify-content: center;
    }

    .album_data {
        margin-top: 20px;
        grid-area: auto;
        grid-column: 1 / 7;
        grid-row: 2;
    }


    .album_data>div>h1 {
        font-size: 50px;
    }

    .album_data>div>h2 {
        font-size: 24px;

    }

    header>h1:first-child {
        font-size: 64px;
        text-align: center;
    }

    .show_not_hover {
        border-radius: 20px 0 0 20px;
    
    }
    
    .show_hover {
        border-radius: 20px 0 0 20px;

    }

    .song_list>div>h2 {
        font-size: calc(0.5 * var(--large));
    
    }
    
    .song_list>div>ul {
        margin-top: -10px;
        padding-left: 20px;
        padding-right: 20px;
        list-style-type: decimal;
        font-size: calc(0.4 * var(--large));
    
    }

    /* first anecdotes */

    #are_you_experienced > ul > .top_right_90{
        grid-row: 1 / 2;
    }

    #are_you_experienced > ul > .top_left_90 {
        grid-row: 2;
        grid-column: 2 / 4;
        color: white;
    }

    #are_you_experienced > ul > .bottom_left_90{
        grid-column: 4 / 8;
        grid-row: 1;
    }

    #are_you_experienced > ul > .bottom_right_90{
        grid-row: 2;
        grid-column: 4 / 6;
    }

    /* second anecdotes */
    #axis_bold_as_love > ul > .bottom_left_90{
        grid-row: 1;
        grid-column: 1 / 4;
    }

    #axis_bold_as_love > ul > li:nth-child(2) {
        grid-column: 4 / 6;
    }

    #axis_bold_as_love > ul > li:nth-child(5){
        grid-row: 2;
        grid-column: 3 / 6;
        color: white;
    }

    #axis_bold_as_love > ul > li:nth-child(6){
        grid-row: 2;
    }


}

/* Mobile view */

@media (max-width: 500px) {

    body {
        margin: 0;
        background: url(media/background_mobile.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    body>div {
        margin: 0;
        border-radius: 0;
    }

    .cover {
        grid-column: 1 / 7;
        border-radius: 20px 20px 0 0;
        margin-right: 0;

    }

    .song_list {
        grid-column: 1 / 7;
        grid-row: 2;
        display: flex;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        margin-right: 0;
    }

    .song_list div:nth-child(1) {
        border-radius: 0 0 0 20px;
        justify-content: flex-start;

    }

    .song_list div:nth-child(2) {
        border-radius: 0 0 20px 0;
        justify-content: flex-start;
    }

    .album_data {
        margin-top: 20px;
        grid-area: auto;
        grid-column: 1 / 7;
        grid-row: 3;
    }


    .album_data>div>h1 {
        font-size: 30px;
    }

    .album_data>div>h2 {
        font-size: 24px;

    }

    header>h1:first-child {
        font-size: 50px;
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    nav {

       padding-top: 0;
       margin-top: 0;
    }

    nav>div {

        font-size: 12px;
    }

    .show_not_hover {
        border-radius: 20px 20px 0 0;
    
    }
    
    .show_hover {
        border-radius: 20px 20px 0 0;

    }

    .song_list>div>h2 {
        font-size: calc(0.6 * var(--large));
    
    }
    
    .song_list>div>ul {
        margin-top: -10px;
        padding-left: 10px;
        padding-right: 20px;
        list-style-type: decimal;
        font-size: calc(0.5 * var(--large));
    
    }

    .anecdotes {
    grid-row: 4;
    margin-bottom: 5px;
    font-size: calc(0.53 * var(--large));
}

.album_data > :nth-child(2) > ul{
    padding-left: 10px;
}

    /* first anecdotes */

    #are_you_experienced > ul > .top_right_90{
        grid-row: 1;
        grid-column: 1 / 3;
    }

    #are_you_experienced > ul > .top_left_90 {
        grid-row: 2;
        grid-column: 3 / 5;
        color: white;
    }

    #are_you_experienced > ul > .bottom_left_90{
        grid-column: 3 / 7;
        grid-row: 1;
    }

    #are_you_experienced > ul > .bottom_right_90{
        grid-row: 2;
        grid-column: 5 / 7;
        border-radius: 20px 20px 0 20px;
    }

    /* second anecdotes */
    #axis_bold_as_love > ul > .bottom_left_90{
        grid-row: 1;
        grid-column: 1 / 6;
    }

    #axis_bold_as_love > ul > li:nth-child(2) {
        grid-column: 6 / 7;
    }

    #axis_bold_as_love > ul > li:nth-child(5){
        grid-row: 2;
        grid-column: 3 / 6;
        color: white;
        grid-column: 1 / 6;
    }

    #axis_bold_as_love > ul > li:nth-child(6){
        grid-row: 2;

    }


}